     /* Eliminación del subrayado en los enlaces y color heredado */
     a {
        text-decoration: none;
        color: inherit;
    }

    /* Fondo para la sección del navbar del home */
    .navbar-background {
        position: relative;
        background-image: url('img/Imagen_portada_home.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #E78F81;
        font-family: ''Merriweather', serif';
        font-weight: 900;
        padding: 20px;
        height: 350px;

    }

    /* Capa oscura sobre el fondo de la imagen del navbar */
    .navbar-background::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    /* Estilo para los títulos y enlaces del navbar */
    .navbar-title,
    .navbar-icon,
    .navbar-link {
        position: relative;
        z-index: 2;
    }

    .navbar-title {
        font-size: 50px;
    }

    .navbar-icon,
    .navbar-link {
        font-size: 30px;
    }

    /* Fondo claro para la sección de información */
    .info-background {
        background-color: #FAF3E0;
        padding: 50px;
    }

    /* Lista horizontal con iconos */
    .icon-list {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .icon-list-item {
        text-align: center;
        margin: 0 30px;
        align-items: center;
        margin-left: 60px;
    }

    .icon-list-item i {
        font-size: 30px;
        display: block;
    }

    /* Estilo para los títulos y enlaces del navbar */

    .info-contenido {
        padding-top: 50px;
    }

    .info-title {
        font-family: 'Sigmar One', regular;
        font-size: 30px;
    }

    .info-datos {
        margin-right: 20px;
        font-family: 'Merriweather', serif;
        font-size: 15px;
        font-weight: 900;
    }

    .info-color {
        color: #E78F81;
    }

    /* Estilo para las imágenes de la sección de información */
    .info-image {
        height: 20vw;
    }

    /* Fondo para el apartado ubicación */
    .ubi-background {
        background-color: #1E212D;
        padding: 50px
    }

    .map-container {
        max-width: 950px;
        /* Establece un ancho máximo para el contenedor */
        margin: 0 auto;
        /* Centra el contenedor horizontalmente */
        height: 300px;
        /* Altura del mapa */
        overflow: hidden;
        /* Asegura que no se muestre contenido fuera del contenedor */
        position: relative;
        /* Necesario para el posicionamiento absoluto del iframe */
        padding: 50px;
    }

    iframe {
        position: absolute;
        /* Posiciona el iframe dentro del contenedor */
        top: 0;
        /* Ajusta la posición vertical al inicio */
        left: 0;
        /* Ajusta la posición horizontal al inicio */
        width: 100%;
        /* Ajusta el ancho al 100% del contenedor */
        height: 100%;
        /* Ajusta la altura al 100% del contenedor */
        border: 0;
        /* Elimina el borde del iframe */
        border-radius: 20px;
        /* Bordes redondeados */
        /* Elimina el margen superior para que el mapa se ajuste completamente */
    }

    .ubi-title {
        font-family: "Seymour One", sans-serif;
        font-size: 30px;
        font-weight: 900;
        color: white;

    }

    .ubi-datos {
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 20px;
        font-weight: 900;
        color: #E78F81;
        text-align: center;
        padding: 30px;
    }

    /*  Fondo Cards */
    .card-background {
        background-color: #EAD7BB;
        padding: 50px;
    }

    /* Crad */
    .card {
        background-color: #FFFBF5;
        border-radius: 5px;
        margin: 30px;
        padding: 20px;
        width: 50vb;
    }

    .card-img {
        position: relative;
        width: 100%;
        height: 200px;
        /* Puedes ajustar la altura según tus necesidades */
        overflow: hidden;
    }

    .card-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
    }

    .card-body {
        justify-content: center;
    }

    .card-title-first {
        font-family: "Ribeye Marrow", serif;
        font-size: 30px;
        font-weight: 900;
        color: black;
    }

    .card-title {
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 17px;
        font-weight: 900;
        color: #E78F81;
    }

    .card-price {
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 15px;
        font-weight: 600;
        color: #E78F81;
    }

    .card-button {
        background-color: transparent;
        color: #E78F81;
        border-radius: 10px;
        padding: 5px;
        width: 100px;
        border: solid 3px #E78F81;
    }

    .card-button:hover {
        background-color: #E78F81;
        color: white;
    }

    /* Media Queries para ajustar tamaños en pantallas pequeñas */
    @media (max-width: 1200px) {
        .navbar-title {
            font-size: 40px;
        }

        .navbar-link {
            font-size: 25px;
        }

        .navbar-icon {
            font-size: 35px;
        }

        .icon-list-item i {
            font-size: 28px;
        }
    }

    @media (max-width: 992px) {
        .navbar-title {
            font-size: 35px;
        }

        .navbar-link {
            font-size: 25px;
        }

        .navbar-icon {
            font-size: 35px;
        }

        .icon-list-item i {
            font-size: 20px;
        }

        .icon-list-item span {
            font-size: 20px;
        }
    }

    @media (max-width: 768px) {
        .navbar-title {
            font-size: 30px;
        }

        .navbar-link {
            font-size: 20px;
        }

        .navbar-icon {
            font-size: 30px;
        }

        .icon-list-item i {
            font-size: 15px;
        }

        .icon-list-item span {
            font-size: 15px;
        }
    }

    @media (max-width: 500px) {
        .navbar-title {
            font-size: 25px;
        }

        .navbar-link {
            font-size: 15px;
        }

        .navbar-icon {
            font-size: 25px;
        }

        .icon-list-item i {
            font-size: 10px;
        }

        .icon-list-item span {
            font-size: 10px;
        }
    }